.formulario_sections {
  padding-bottom: 0px !important;
  position: relative;

  @include bp(laptop) {
    padding-bottom: 30px !important;
  }

  .content {
    width: calc(100% - 30px);
    margin: auto;
    padding: 10px 0px;
    padding-bottom: 5px;
    position: relative;
    z-index: 0;
    transform: translateY(0px);

    @include bp(tablet) {
      padding: 15px 30px;
      width: calc(100% - 140px);
    }

    @include bp(laptop) {
      padding-bottom: 0px;
      padding: 0px;
      width: calc(100% - 180px);
    }

    @include bp(laptop) {
      max-width: 1200px;
    }

    @include bp(escritorio) {
      max-width: 1550px;
    }

    .subtitleForm {
      margin-top: 0px;
      padding-bottom: 10px;
      color: $color-diesiseis;
      @include bp(laptop) {
        padding-bottom: 40px;
        margin-top: 10px;
      }
    }

    h3 {
      text-align: center;
      margin-top: 25px;
      color: $color-siete;
      font-family: $font-four;
      text-wrap: balance;
      font-size: rem(22px);
      justify-content: center;
      display: none;

      @include bp(tablet) {
        font-size: rem(35px);
        margin-left: auto;
        margin-right: auto;
      }

      @include bp(laptop) {
        width: 90%;
      }

      span {
        transform: rotate(173deg) translate(-2px, -3px);
        display: flex;
      }
    }

    h3.view {
      display: flex;
      align-items: flex-start;
    }

    p {
      margin-top: 15px;
      // margin-bottom: 8px;
      text-align: center;
      text-transform: uppercase;
      font-family: $font-two;
      color: $color-siete;
      font-size: rem(17px);
      margin-bottom: 15px;
      display: none;

      @include bp(laptop) {
        font-size: rem(23px);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
      }
    }

    p.view {
      display: block;
    }

    .subtitle {
      text-align: center;
      text-transform: uppercase;
      font-family: $font-two;
      color: $color-siete;
      font-size: rem(10px);
      margin-bottom: 15px;
      text-align: center;
      display: block;

      @include bp(laptop) {
        font-size: rem(15px);
        margin-bottom: 30px;
      }
    }

    form {
      display: flex;
      flex-flow: column;
      row-gap: 10px;
      margin-bottom: 25px;
      position: relative;
      overflow: hidden;

      @include bp(laptop) {
        width: 90%;
        margin: auto;
      }

      label {
        display: flex;
        flex-flow: column;
        margin-bottom: 10px;
        opacity: 1;

        @include keyframes(viewLabel) {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        @include animate(viewLabel, 0.5s, ease, 1);

        @include bp(tablet) {
          flex-flow: row;
          align-items: center;
          // column-gap: 10px;
          margin: auto;
          // margin-bottom: 15px;
          width: 100%;
        }

        .item {
          display: block;
          margin-bottom: 5px;
          font-family: $font-two;
          color: $color-siete;
          font-size: rem(15px);
          text-transform: uppercase;
          white-space: nowrap;

          @include bp(tablet) {
            text-wrap: stable;
            font-size: rem(17px);
          }
        }

        input,
        select {
          background-color: $color-quince;
          border: none;
          padding: 10px;
          border-radius: 25px;
          transition: 0.2s ease;
          border: 1px solid;
          border-color: $color-diesiseis;
          font-size: rem(15px);
          font-family: $font-two;
          color: $color-diesiseis;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          &::placeholder {
            color: $color-diesinueve;
            text-transform: uppercase;
          }

          @include bp(tablet) {
            width: 100%;
            font-size: rem(17px);
          }

          &:focus {
            outline: none;
            border-color: $color-diesiocho;
          }
        }

        select {
          text-transform: uppercase;
        }

        input[type="radio"] {
          position: relative;
          overflow: hidden;
          padding: 0px;
          width: 25px;
          height: 23px;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          border: none;
          cursor: pointer;
          background-color: $color-cuarto;
          display: none;

          &::before {
            content: "";
            position: absolute;
            width: 70%;
            height: 70%;
            background-color: transparent;
            border-radius: 3px;
            transition: 0.2s ease;
          }

          &:checked {
            &::before {
              background-color: $color-quinto;
            }
          }
        }
      }

      .quiz {
        .question {
          margin-top: 10px;

          .recuerde {
            position: relative;
            display: flex;
            margin-top: 0px;
            color: $color-cuarto;
            font-family: $font-two;
            margin-bottom: 20px;
            

            @include bp(mobileBIG) {
              max-width: 500px;
              margin: auto;
              margin-top: 10px;
              margin-bottom: 20px;
            }

            @include bp(tablet) {
              max-width: 600px;
              margin-bottom: 30px;
            }

            @include bp(laptop) {
              max-width: 650px;
              margin-top: 30px;
              margin-bottom: 35px;
            }

            img {
              width: 100%;
              max-width: 100%;
              margin-bottom: 0px;
              pointer-events: none;
              height: auto;
            }

            .text {
              position: absolute;
              top: 0px;
              width: 50%;
              height: 100%;
              display: flex;
              justify-content: center;
              left: 10%;
              flex-flow: column;
              text-align: left;

              span,
              strong {
                font-size: rem(16px);
                text-transform: uppercase;

                @include bp(mobileBIG) {
                  font-size: rem(20px);
                }

                @include bp(tablet) {
                  font-size: rem(25px);
                }

                @include bp(laptop) {
                  font-size: rem(30px);
                }
              }

              p.title_box {
                font-size: rem(26px);
                display: inline;
                text-align: left;
                padding: 0px;
                margin: 0px;
                color: $color-quince;
                font-family: $font-two;
                width: 100%;

                @include bp(mobileBIG) {
                  font-size: rem(35px);
                }

                @include bp(tablet) {
                  font-size: rem(40px);
                }

                @include bp(laptop) {
                  font-size: rem(45px);
                }
              }
            }
          }

          .item_question {
            margin-bottom: 15px;
            display: block;
            text-transform: uppercase;
            font-size: rem(20px);
            font-family: $font-two;
            color: $color-cuarto;

            @include bp(laptop) {
              font-size: rem(23px);
            }
          }
        }

        label {
          flex-flow: row;
          margin-bottom: 15px;
          font-size: rem(15px);
          font-family: $font-two;
          color: $color-cuarto;
          cursor: pointer;

          @include bp(tablet) {
            width: 100%;
            font-size: rem(17px);
          }

          span {
            display: block;
            width: 100%;
            text-transform: uppercase;
            color: $color-diesiseis;
            background-color: $color-quince;
            border: 1px solid $color-diesiseis;
            padding: 10px;
            border-radius: 10px;
            transition: 0.2s ease;
          }

          input[type="radio"]:checked ~ span {
            background-color: $color-diesiseis;
            color: $color-quince;
          }
        }

        .message {
          display: flex;
          flex-flow: column;
          display: block;

          span {
            margin-bottom: 15px;
            margin-top: 0px;
            display: block;
            text-transform: inherit;
            font-size: rem(20px);
            font-family: $font-two;
            color: $color-diesiseis;
            width: 100%;
            display: flex;
            flex-flow: row;
            align-items: flex-start;
            text-align: center;
            justify-content: center;
            text-transform: uppercase;
            background-color: transparent;
            border: none;

            @include bp(tablet) {
              margin-bottom: 20px;
            }

            @include bp(laptop) {
              font-size: rem(30px);
              text-transform: inherit;
              text-transform: uppercase;
            }

            .interrogador {
              display: block;
              width: auto;
              transform: rotate(173deg) translate(0px, -1px);
              margin: 0px;
            }
          }

          .items {
            display: grid;
            grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
            grid-gap: 15px;

            @include bp(tabletMD) {
              grid-template-columns: repeat(4, calc(25% - 19px));
              grid-gap: 25px;
            }

            label {
              display: flex;
              flex-flow: column;

              .sueta {
                height: 200px;
                width: 100%;
                background-color: $color-quince;
                border-radius: 15px;
                pointer-events: none;
                transition: 0.2s ease;

                @include bp(tablet) {
                  height: 250px;
                }
              }

              &:hover {
                button {
                  color: $color-diesiseis;
                  background-color: $color-quince;
                }

                input[type="radio"]:checked ~ button,
                input[type="radio"]:checked ~ button:hover {
                  pointer-events: none;
                  color: $color-quince;
                  background-color: $color-diesiseis;
                }
              }

              button {
                background-color: $color-diesiseis;
                color: $color-quince;
                pointer-events: none;
                opacity: 1;
                transition: 0.2s ease;
                width: 100%;
              }

              input[type="radio"]:checked ~ .sueta {
                background-color: $color-diesiseis;
              }

              input[type="radio"]:checked ~ button,
              input[type="radio"]:checked ~ button:hover {
                opacity: 0.4;
                pointer-events: none;
              }
            }
          }

          textarea {
            background-color: $color-ocho;
            border: none;
            padding: 10px;
            border-radius: 20px;
            transition: 0.2s ease;
            border: 2px solid;
            border-color: $color-ocho;
            font-size: rem(15px);
            font-family: $font-two;
            color: $color-siete;
            resize: vertical;
            min-height: 150px;
            max-height: 400px;
            width: calc(100% - 25px);
            opacity: 1;
            transition: 0.2s ease;

            @include bp(tablet) {
              width: calc(100% - 25px);
              font-size: rem(17px);
            }

            &:focus {
              outline: none;
              border-color: $color-one;
            }

            &:disabled {
              opacity: 0.7;
              resize: none;
            }
          }
        }
      }

      .error {
        font-size: rem(20px);
        font-family: $font-two;
        color: $color-diesiseis;
        text-align: center;
        display: block;
      }

      button {
        width: 100%;
        color: $color-cuarto;
        border: none;
        padding: 10px;
        border-radius: 25px;
        background-color: $color-doce;
        font-size: rem(15px);
        font-family: $font-two;
        cursor: pointer;
        text-transform: uppercase;
        margin-top: 10px;
        // border: 2px solid $color-doce;
        transition: 0.2s ease;

        &:hover {
          color: $color-siete;
          background-color: $color-cuarto;
          border: 2px solid $color-cuarto;
        }

        &:active {
          transform: scale(0.95);
          border: 2px solid $color-cuarto;
        }

        @include bp(tablet) {
          font-size: rem(17px);
          width: 300px;
          margin: 10px auto 10px auto;
        }

        &:disabled {
          transform: scale(0.9);
          border: 2px solid $color-doce;
          color: $color-cuarto;
          background-color: $color-doce;
          cursor: no-drop;
          opacity: 0.7;
        }
      }

      .part_one {
        input.err,
        select.err {
          background-color: $color-diesiseis;
          color: $color-quince;

          &::placeholder{
            color: $color-quince;
          }

        }
      }

      .group {
        display: flex;
        justify-content: end;
        column-gap: 15px;

        @include bp(tablet) {
          justify-content: center;
        }

        button {

          margin-left: 0px;
          margin-right: 0px;
          width: auto;
          border-radius: 10px;
          padding: 5px;
          background-color: $color-diesiseis;
          transition: .2s ease;

          &:hover {
            background-color: $color-quince;
            border-color: transparent;
            color: $color-diesiseis;
          }

          @include bp(tablet) {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
          }

          @include bp(tablet) {
            margin-left: 0px;
            margin-right: 0px;
            border-radius: 25px;
            padding: 10px;
          }

          svg {
            display: block;
            width: 30px;
            height: 30px;

            @include bp(tablet) {
              display: none;
            }
          }

          span {
            display: none;

            @include bp(tablet) {
              display: block;
            }
          }
        }

        button.send {
          padding: 0px 15px;

          @include bp(tablet) {
            font-size: rem(17px);
            width: 300px;
            margin: 10px 0px 10px 0px;
          }
        }
      }

      .content_item {
        display: none;
      }

      .content_item.view {
        display: block;

        @include bp(tablet) {
          display: grid;
          grid-gap: 15px;
          grid-template-columns: repeat(2, calc(50% - 7.5px));
        }

        @include keyframes(viewForm) {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        @include animate(viewForm, 0.5s, ease, 1);
      }

      .content_item.view.quiz {
        margin-top: 0px;

        @include bp(tablet) {
          grid-gap: 0px;
          grid-template-columns: repeat(1, 100%);
        }
      }
    }

    form.view {
      .group {
        justify-content: space-between;

        @include bp(tablet) {
          justify-content: center;
        }
      }
    }
  }

  .ilustracion {
    margin-top: 10px;
    .buzon {
      margin: auto;
      width: 100%;
      height: auto;
      transform: translateY(15px);
    }
  }
}

.view_modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $color-quinto-transparent;
  backdrop-filter: blur(10px);
  z-index: 999;

  @include keyframes(viewModal) {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }

    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @include animate(viewModal, 0.5s, ease, 1);

  header {
    min-height: calc(100% - 20px);
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    align-content: center;
    padding: 20px 0px;
    position: relative;
    overflow: hidden;
    align-items: center;
    z-index: 0;
    padding-bottom: 0px;

    .nav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;

      @include bp(laptop) {
        padding-top: 15px;
      }

      section {
        display: flex;
        justify-content: center;
      }
    }

    .logo {
      width: auto;
      height: rem(50px);
      transform: translateY(0px);
      opacity: 1;

      @include bp(mobileBIG) {
        height: rem(60px);
      }

      @include bp(laptop) {
        height: rem(70px);
        width: 100%;
      }

      @include bp(escritorio) {
        height: rem(80px);
      }

      @include keyframes(logo_animation) {
        0% {
          transform: translateY(50px);
          opacity: 0;
        }

        100% {
          transform: translateY(0px);
          opacity: 1;
        }
      }

      @include animate(logo_animation, 1s, ease, 1);
    }

    .wave,
    .wave_chocolate,
    .escarcha {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      clip-path: initial;

      @include bp(mobileBIG) {
        clip-path: initial;
      }

      @include bp(tablet) {
        clip-path: initial;
      }

      @include bp(laptop) {
        clip-path: initial;
      }
    }

    .wave {
      background-image: url("../../assets/img/background_focus_mobile.webp");
      background-size: cover;
      background-position: center;

      @include bp(tablet) {
        background-image: url("../../assets/img/background_focus.webp");
        background-position: left;
      }

      /*&::before {
            
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0%;
            left: 0%;
            background-color: rgba(0, 0, 0, 0.409);

        }*/
    }

    .escarcha {
      background-image: url("../../assets/img/escarcha_background.webp");
      background-size: cover;
      background-position: center;
      transform: translateY(30px);
      z-index: -1;
    }

    .wave_chocolate {
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      @include bp(mobileBIG) {
        justify-content: flex-end;
      }

      img {
        height: auto;
        width: 100%;
        transform: translateY(calc(0px + 40%));
        opacity: 1;

        @include keyframes(chocolateImage) {
          0% {
            transform: translateY(calc(50px + 40%));
            opacity: 0;
          }

          25% {
            transform: translateY(calc(50px + 40%));
            opacity: 0;
          }

          35% {
            transform: translateY(calc(50px + 40%));
            opacity: 0;
          }

          50% {
            transform: translateY(calc(50px + 40%));
            opacity: 0;
          }

          100% {
            transform: translateY(calc(0px + 40%));
            opacity: 1;
          }
        }

        @include animate(chocolateImage, 2.5s, ease, 1);

        @include bp(mobileBIG) {
          width: 80%;
        }

        @include bp(tablet) {
          width: 65%;
        }

        @include bp(tabletMD) {
          width: 60%;
        }

        @include bp(laptop) {
          transform: translateY(calc(10% + 0%));
          height: 80%;
          width: auto;

          @include keyframes(chocolateImage) {
            0% {
              transform: translateY(calc(50px + 0%));
              opacity: 0;
            }

            25% {
              transform: translateY(calc(50px + 0%));
              opacity: 0;
            }

            35% {
              transform: translateY(calc(50px + 0%));
              opacity: 0;
            }

            50% {
              transform: translateY(calc(50px + 0%));
              opacity: 0;
            }

            100% {
              transform: translateY(calc(10% + 0%));
              opacity: 1;
            }
          }

          @include animate(chocolateImage, 2.5s, ease, 1);
        }
      }
    }

    .content {
      position: absolute;
      height: 85dvh;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      left: 0px;
      top: 0px;

      @include bp(tablet) {
        max-width: 1200px;
        position: relative;
        height: auto;
        width: 80%;
        height: 50dvh;
        margin: auto;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 100px;
      }

      @include bp(tabletMD) {
        height: auto;
        grid-template-columns: 40% 20% 40%;
      }

      @include bp(escritorio) {
        max-width: 1550px;
      }

      .box {
        display: flex;
        flex-flow: column;
        align-content: center;
        align-items: center;

        @include bp(laptop) {
          display: flex !important;
          justify-content: center;
          z-index: 1;
        }

        &:first-of-type {
          img {
            position: absolute;
            bottom: -15%;
            width: auto;
            height: 100%;
            transform: translateY(0px);
            opacity: 1;
            display: none;

            @include bp(tablet) {
              display: block;
              position: relative;
              width: 100%;
              bottom: 0px;
            }

            @include bp(laptop) {
              width: 100%;
            }

            @include bp(escritorio) {
              width: 80%;
            }

            @include keyframes(chocolateImageEscritorio) {
              0% {
                transform: translateY(50px);
                opacity: 0;
              }

              25% {
                transform: translateY(50px);
                opacity: 0;
              }

              100% {
                transform: translateY(0px);
                opacity: 1;
              }
            }

            @include animate(chocolateImageEscritorio, 1.5s, ease, 1);
          }
        }

        &:nth-of-type(2) {
          grid-area: 1 / 3;

          @include bp(tablet) {
            grid-area: 1 / 1;
          }

          @include bp(laptop) {
            align-items: flex-end;
            grid-area: auto;
          }
        }

        .placer {
          width: 100%;
          height: auto;
          max-width: 300px;
          margin: 0px auto;
          z-index: 3;

          @include bp(tablet) {
            max-width: 100%;
          }

          @include bp(laptop) {
            height: rem(250px);
            width: auto;
            max-width: 100%;
            display: none;
          }

          @include keyframes(placer) {
            0% {
              transform: translateY(50px);
              opacity: 0;
            }

            25% {
              transform: translateY(50px);
              opacity: 0;
            }

            100% {
              transform: translateY(0px);
              opacity: 1;
            }
          }

          @include animate(placer, 1.5s, ease, 1);
        }

        .description {
          position: relative;
          padding: 30px 20px;
          z-index: 1;
          text-align: center;
          color: $color-once;
          transform: translateY(-0px);
          background-color: $color-seis;
          padding-right: 50px;
          position: relative;
          transform: translateY(0px) rotate(-5deg);

          @include bp(mobileBIG) {
            max-width: 300px;
          }

          @include bp(laptop) {
            padding: 40px 20px;
            padding-right: 50px;
            max-width: 300px;
          }

          @include keyframes(description_element) {
            0% {
              transform: translateY(50px) rotate(-5deg);
              opacity: 0;
            }

            25% {
              transform: translateY(50px) rotate(-5deg);
              opacity: 0;
            }

            50% {
              transform: translateY(50px) rotate(-5deg);
              opacity: 0;
            }

            100% {
              transform: translateY(-0px) rotate(-5deg);
              text-align: center;
            }
          }

          @include animate(description_element, 2s, ease, 1);

          h3 {
            margin-bottom: 10px;
            font-family: Nabila;
            font-size: rem(23px);

            @include bp(tablet) {
              font-size: rem(30px);
            }

            span {
              display: inline-block;
              transform: rotate(173deg) translate(-2px, -3px);

              @include bp(tablet) {
                transform: rotate(173deg) translate(-3px, -3px);
              }
            }
          }

          p {
            font-size: rem(20px);
            font-family: $font-two;
            text-wrap: balance;
            text-transform: uppercase;

            @include bp(laptop) {
              font-size: rem(25px);
            }
          }

          img {
            position: absolute;
            top: 0px;
            right: -30px;
            height: auto;
            width: auto;
            height: 140%;
            transform: rotateY(159deg) translateY(-3%) translateX(-25%);
            z-index: -1;
            user-select: none;
            pointer-events: none;
            z-index: 99;

            @include bp(laptop) {
              transform: rotateY(159deg) translateY(-3%) translateX(-25%);
              right: -60px;
            }
          }
        }
      }
    }
  }
}
